@import '~antd/dist/antd.css';
@import 'material-icons/iconfont/material-icons.css';
body {
  font-family: 'Roboto' !important;
}
.pointer {
  cursor: pointer;
}
.w-100 {
  width: 100%;
}
.toTitleCase {
  text-transform: capitalize;
}
.common-table td,
.common-table th {
  text-align: left;
}
.ant-select-selection-item {
  text-transform: capitalize !important;
}
.card-table .ant-card-body {
  /* padding-top: 0px !important; */
  /* padding-bottom: 0px !important; */
}
